<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ShopingCart</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AddRoleController</servlet-name>
    <servlet-class>com.controller.AddRoleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRoleController</servlet-name>
    <url-pattern>/AddRoleController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteRoleController</servlet-name>
    <servlet-class>com.controller.DeleteRoleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRoleController</servlet-name>
    <url-pattern>/DeleteRoleController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListRoleController</servlet-name>
    <servlet-class>com.controller.ListRoleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListRoleController</servlet-name>
    <url-pattern>/ListRoleController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditRoleController</servlet-name>
    <servlet-class>com.controller.EditRoleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditRoleController</servlet-name>
    <url-pattern>/EditRoleController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateRoleController</servlet-name>
    <servlet-class>com.controller.UpdateRoleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRoleController</servlet-name>
    <url-pattern>/UpdateRoleController</url-pattern>
  </servlet-mapping>
</web-app>